<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>File Uploader</title>
	<link href='https://fonts.lug.ustc.edu.cn/css?family=Raleway:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<span class="glyphicon glyphicon-cloud-upload"></span>
						<h2>File Uploader</h2>
						<h4>Sherrif Chen</h4>
						<div class="progress">
							<div class="progress-bar" role="progressbar"></div>
						</div>
						<button class="btn btn-lg upload-btn" type="button">Upload File</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<input type="file" name="uploads[]" id="upload-input" multiple="multiple"></br>

	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="js/upload.js"></script>

</body>
</html>